.App {
  font-family: sans-serif;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*
body {
  background-color: rgb(205,195,240);
}
*/
.bg-red {
  background-color: #c6c6f7;
}

#pad {
  /*border: 2px red solid;*/
  /*background-color: #c6c6f7;*/
  position: absolute;
  height: 86.5vh;
  width: 100%;
	background-image: linear-gradient(transparent 2px, transparent 2px),
                    linear-gradient(90deg, transparent 2px, transparent 2px),
                    linear-gradient(rgba(150, 150, 150, .3) 1px, transparent 1px),
                    linear-gradient(90deg, rgba(150, 150, 150, .3) 1px, transparent 1px);
	background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px;
	background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;

  /*
  background:
        linear-gradient(-90deg, rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.05) 1px, transparent 1px),
        linear-gradient(-90deg, rgba(0, 0, 0, .04) 1px, transparent 1px),
        linear-gradient(rgba(0,0,0,.04) 1px, transparent 1px),
        linear-gradient(transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(-90deg, #aaa 1px, transparent 1px),
        linear-gradient(-90deg, transparent 3px, #f2f2f2 3px, #f2f2f2 78px, transparent 78px),
        linear-gradient(#aaa 1px, transparent 1px),
        #f2f2f2;
    background-size:
        4px 4px,
        4px 4px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px,
        80px 80px;
        */
  /*
  background-color: #fff;
  background-image: linear-gradient(rgba(244,244,250,.8) 1px,transparent 0),
                    linear-gradient(#f4f4fa 1px,transparent 0),
                    linear-gradient(90deg,rgba(244,244,250,.8) 1px,transparent 0),
                    linear-gradient(90deg,#f4f4fa 1px,transparent 0),
                    linear-gradient(transparent 3px,#fff 0,#fff 94px,transparent 0),
                    linear-gradient(90deg,#f4f4fa 3px,transparent 0,transparent 94px,#f4f4fa 0);
    background-size: 24px 24px,96px 96px,24px 24px,96px 96px,96px 96px,96px 96px;
*/
}
#submit {
  background-color: limegreen;
}

.jumbotron {
  margin-top: 50px;
  background-color: snow;
}
.card {
  margin-left: 25px;
  margin-right: 25px;
  background-color: orchid;
}
hr {
  width: 70%;
}
