.App {
  font-family: sans-serif;
  text-align: center;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: rgb(205,195,240);
}

#pad {
  background-color: orchid;
  position: absolute;
  height: 100%;
  width: 100%;
}
#submit {
  background-color: limegreen;
}

.jumbotron {
  margin-top: 50px;
  background-color: snow;
}
.card {
  margin-left: 25px;
  margin-right: 25px;
  background-color: orchid;
}

hr {
  width: 70%;
}