body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'SaucerBB';
  src: local('SaucerBB'), url(./assets/fonts/SaucerBB.ttf) format('truetype');
}
@font-face {
  font-family: 'CrosshatcherD';
  src: local('CrosshatcherD'), url(./assets/fonts/CrosshatcherD.otf) format('truetype');
}
@font-face {
  font-family: 'CabinSketch-Regular';
  src: local('CabinSketch-Regular'), url(./assets/fonts/CabinSketch-Regular.ttf) format('truetype');
}
@font-face {
  font-family: 'CabinSketch-Bold';
  src: local('CabinSketch-Bold'), url(./assets/fonts/CabinSketch-Bold.ttf) format('truetype');
}
